/*politicas*/
.politica{
    text-align: center;
    background-color: $colorAzul;
    margin: 7em 3em; 
    text-align: justify;
    h1{
        font-size: 30px;
        color: $colorBlanco;
    }
    p{
        color: $colorBlanco;
    }
}